# DATA CLEANING

In [2]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [3]:
cars = pd.read_csv('C:/Users/darog/OneDrive/Documents/CAPSTONE DATA SCIENCE/USED CARS CAPSTONE/csv files/carsoupdotcom_fix.csv', 
                   index_col = False, error_bad_lines = False)
cars.columns = ['site', 'car_id', 'car_descrip', 'car_make', 'car_model','car_trim', 'car_year','car_category',
                'car_mileage', 'car_price','car_extColor','car_transmission', 'car_driveTrain','car_vendor',
                'car_location', 'car_detail_link', 'car_img_link','car_engine', 'column_18', 'column_19']
cars.head()

,site,car_id,car_descrip,car_make,car_model,car_trim,car_year,car_category,car_mileage,car_price,car_extColor,car_transmission,car_driveTrain,car_vendor,car_location,car_detail_link,car_img_link,car_engine,column_18,column_19
0,carsoupdotcom,73531922,NaN,Toyota,Corolla-LE,-1,2015,USED,23036,13298,Black Sand Pearl,Automatic,FWD,NaN,Chantilly,VA 20151,https://www.carsoup.com//details/used/2015/Toy...,http://imageserver.carsoup.com/UVIDWeb/7353100...,1.8 4 Cylinder Sequential-Port F.I.,NaN
1,carsoupdotcom,72354903,NaN,Jeep,Wrangler-Unlimted-Sahara,-1,2012,USED,73619,26995,SILVER,AUTOMATIC,4WD,NaN,Baltimore,MD 21215,https://www.carsoup.com//details/used/2012/Jee...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,3.6L 6 CYL. GAS,NaN
2,carsoupdotcom,73704666,NaN,Honda,Civic-LX,-1,2014,USED,27784,14097,Black,Automatic,FWD,NaN,Ellicott City,MD 21043,https://www.carsoup.com//details/used/2014/Hon...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,1.80L I4,NaN
3,carsoupdotcom,73566743,NaN,Jeep,Grand-Cherokee-Limited,-1,2014,USED,36636,27899,Granite Crystal Metallic Clear,8-Speed Automatic,4WD,NaN,Palmyra,PA 17078,https://www.carsoup.com//details/used/2014/Jee...,http://imageserver.carsoup.com/UVIDWeb/7356600...,3.6L V6 Flex Fuel 24V VVT,NaN
4,carsoupdotcom,73745994,NaN,Hyundai,Santa-Fe-Sport-24L,-1,2013,USED,48568,18981,White,A,AWD,NaN,Doylestown,PA 18902,https://www.carsoup.com//details/used/2013/Hyu...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,2.40L I4,NaN

In [4]:
print cars.loc[10297, 'car_img_link']

https://www.carsoup.com//details/used/1999/Mercedes-Benz/ML320/73188273/?returl=L3ZlaGljbGUvcmVzdWx0cy5hc3B4P3ZlaGljbGV0eXBlaWQ9MSZpbnZ0eXBlaWQ9MiZyYWRpdXM9MTUwJmRvc29ydD1zdGRzbHJfYXNjJTJjZGlzdGFuY2VfYXNjJmZvcm1fdHlwZT00JTNhU3VtbWFyeVppcCZtYXhwcmljZT0xMDAwMDAwJnBhZ2VudW09NzA3

In [5]:
print cars.loc[10297, 'car_detail_link']

 FL 33405

### Nan values 1st

In [6]:
cars.isnull().sum()

site                    0
car_id                  0
car_descrip         17067
car_make                0
car_model               0
car_trim                0
car_year                0
car_category            0
car_mileage             0
car_price               0
car_extColor          357
car_transmission      336
car_driveTrain        336
car_vendor          17067
car_location            0
car_detail_link         0
car_img_link            0
car_engine              0
column_18             337
column_19           17064
dtype: int64

In [7]:
# For the scope of our analysis we are gonna keep only the following columns: car_id, car_make, car_model, car_year,
# car_price, car_mileage, car_transmission, car_driveTrain, car_vendor, car_location and car_engine

In [8]:
# First of all, since columns car_vendor, car_location, car_detail_link, car_img_link and car_engine are swapped,
# we need to allocate the valaues to the right columns.
#Column car_vendor is empty however it should contain the values in car_location, the values in car_deatil_link should
# be placed in car_location and so on so forth

### Moving missplaced values to their right column

In [7]:
car_vendor = cars['car_vendor']
car_location = cars['car_location']
car_detail_link = cars['car_detail_link']
car_img_link = cars['car_img_link']
car_engine = cars['car_engine']
column_18 = cars['column_18']

temp_car_location = car_location
temp_car_detail_link = car_detail_link
temp_car_img_link = car_img_link
temp_car_engine = car_engine
temp_column_18 = column_18

In [8]:
cars['car_vendor'] = temp_car_location
cars['car_location'] = temp_car_detail_link
cars['car_detail_link'] = temp_car_img_link
cars['car_img_link'] = temp_car_engine 
cars['car_engine'] = temp_column_18

In [9]:
cars.head()

,site,car_id,car_descrip,car_make,car_model,car_trim,car_year,car_category,car_mileage,car_price,car_extColor,car_transmission,car_driveTrain,car_vendor,car_location,car_detail_link,car_img_link,car_engine,column_18,column_19
0,carsoupdotcom,73531922,NaN,Toyota,Corolla-LE,-1,2015,USED,23036,13298,Black Sand Pearl,Automatic,FWD,Chantilly,VA 20151,https://www.carsoup.com//details/used/2015/Toy...,http://imageserver.carsoup.com/UVIDWeb/7353100...,1.8 4 Cylinder Sequential-Port F.I.,1.8 4 Cylinder Sequential-Port F.I.,NaN
1,carsoupdotcom,72354903,NaN,Jeep,Wrangler-Unlimted-Sahara,-1,2012,USED,73619,26995,SILVER,AUTOMATIC,4WD,Baltimore,MD 21215,https://www.carsoup.com//details/used/2012/Jee...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,3.6L 6 CYL. GAS,3.6L 6 CYL. GAS,NaN
2,carsoupdotcom,73704666,NaN,Honda,Civic-LX,-1,2014,USED,27784,14097,Black,Automatic,FWD,Ellicott City,MD 21043,https://www.carsoup.com//details/used/2014/Hon...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,1.80L I4,1.80L I4,NaN
3,carsoupdotcom,73566743,NaN,Jeep,Grand-Cherokee-Limited,-1,2014,USED,36636,27899,Granite Crystal Metallic Clear,8-Speed Automatic,4WD,Palmyra,PA 17078,https://www.carsoup.com//details/used/2014/Jee...,http://imageserver.carsoup.com/UVIDWeb/7356600...,3.6L V6 Flex Fuel 24V VVT,3.6L V6 Flex Fuel 24V VVT,NaN
4,carsoupdotcom,73745994,NaN,Hyundai,Santa-Fe-Sport-24L,-1,2013,USED,48568,18981,White,A,AWD,Doylestown,PA 18902,https://www.carsoup.com//details/used/2013/Hyu...,http://imageserver.carsoup.com/EVOX/w=130_h=98...,2.40L I4,2.40L I4,NaN

In [10]:
# We are under the impression that there will be a lot duplicated rows since many sellers usually post adds more than
# once in order to increase the probability of selling and visibility. Let's see if we have duplicated rows

cars.duplicated().sum()

0

In [13]:
# Surprisingly we have no duplicated rows.........????????
# A row is considered duplicate when all the column values are the same, however there is a unique value for each 
# column i.e. car_id. Although the seller is posting many times the same add, the website provides a different car_id
# each time. 

# Under those premises we won't be able to check if any duplicate unless we don't take the car_id column into account,
# let's get rid of the car_id and check duplicates again

In [11]:
cars_fix = cars.ix[:, {3, 4, 6, 8, 9, 11, 12, 13,14, 17}]
cars_fix.head()

,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
0,Toyota,Corolla-LE,2015,23036,13298,Automatic,FWD,Chantilly,VA 20151,1.8 4 Cylinder Sequential-Port F.I.
1,Jeep,Wrangler-Unlimted-Sahara,2012,73619,26995,AUTOMATIC,4WD,Baltimore,MD 21215,3.6L 6 CYL. GAS
2,Honda,Civic-LX,2014,27784,14097,Automatic,FWD,Ellicott City,MD 21043,1.80L I4
3,Jeep,Grand-Cherokee-Limited,2014,36636,27899,8-Speed Automatic,4WD,Palmyra,PA 17078,3.6L V6 Flex Fuel 24V VVT
4,Hyundai,Santa-Fe-Sport-24L,2013,48568,18981,A,AWD,Doylestown,PA 18902,2.40L I4

In [12]:
cars_fix.duplicated().sum()

24

In [13]:
# Bingo! let's take a look on those 24 duplicated rows
cars_fix.ix[cars_fix.duplicated(keep=False)]

,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
262,Kia,Rio-Lx,2017,-1,16622,A,FWD,Bradenton,FL 34207,1.60L I4
270,Kia,Sorento-EX,2017,-1,31930,A,FWD,Bradenton,FL 34207,2.00L I4
838,Kia,Optima-Ex,2017,-1,25456,A,FWD,Bradenton,FL 34207,2.40L I4
1369,Kia,Optima-Ex,2017,-1,28772,A,FWD,Bradenton,FL 34207,2.40L I4
1507,Chevrolet,Silverado-1500-Work-Truck,2016,10,27995,Automatic,RWD,Manheim,PA 17545,4.3 6 Cylinder Not Specified
1799,Ford,F150,2012,89700,21450,6-Speed Automatic,4WD,Silver Spring,MD,5.0L V8 SFI DOHC 32V
2006,Kia,Optima-Ex,2017,-1,28772,A,FWD,Bradenton,FL 34207,2.40L I4
2263,Kia,Forte-S,2017,-1,19542,A,FWD,Bradenton,FL 34207,2.00L I4
2392,Kia,Optima-Ex,2017,-1,30721,A,FWD,Bradenton,FL 34207,2.40L I4
2553,Kia,Optima-Ex,2017,-1,30721,A,FWD,Bradenton,FL 34207,2.40L I4
2572,Kia,Optima-Ex,2017,-1,25849,A,FWD,Bradenton,FL 34207,2.40L I4
3696,Kia,Niro-LX,2017,-1,26225,A,FWD,Bradenton,FL 34207,1.60L I4
4420,Kia,Optima-SXL-Turbo,2017,-1,35296,A,FWD,Bradenton,FL 34207,2.00L I4
5778,Kia,Optima-SX-Turbo,2017,-1,32352,A,FWD,Bradenton,FL 34207,2.00L I4
5921,Kia,Optima-Ex,2017,-1,30721,A,FWD,Bradenton,FL 34207,2.40L I4
6004,Kia,Optima-Ex,2017,-1,28772,A,FWD,Bradenton,FL 34207,2.40L I4
8148,Hyundai,Santa-Fe-Limited-Ultimate,2017,254,36000,NaN,NaN,Annapolis,MD 21401,NaN
8246,Kia,Sorento-LX,2017,-1,28267,A,FWD,Bradenton,FL 34207,2.40L I4
9714,Kia,Optima-LX-Turbo,2017,-1,25617,A,FWD,Bradenton,FL 34207,1.60L I4
10304,Chevrolet,Silverado-1500-Work-Truck,2016,10,27995,Automatic,RWD,Manheim,PA 17545,4.3 6 Cylinder Not Specified
10466,Kia,Optima-Ex,2017,-1,30721,A,FWD,Bradenton,FL 34207,2.40L I4
10678,Kia,Optima-SXL-Turbo,2017,-1,35296,A,FWD,Bradenton,FL 34207,2.00L I4
11072,Kia,Optima-LX-Turbo,2017,-1,25617,A,FWD,Bradenton,FL 34207,1.60L I4
12316,Kia,Cadenza-Limited,2017,-1,42973,A,FWD,Bradenton,FL 34207,3.30L V6
12476,Kia,Forte-S,2017,-1,19542,A,FWD,Bradenton,FL 34207,2.00L I4
12686,Kia,Optima-Ex,2017,-1,28772,A,FWD,Bradenton,FL 34207,2.40L I4
12873,Kia,Optima-LX-Turbo,2017,-1,26029,A,FWD,Bradenton,FL 34207,1.60L I4
13036,Kia,Rio-Lx,2017,-1,16622,A,FWD,Bradenton,FL 34207,1.60L I4
13129,Kia,Sorento-LX,2017,-1,28267,A,FWD,Bradenton,FL 34207,2.40L I4
13557,Ford,F150,2012,89700,21450,6-Speed Automatic,4WD,Silver Spring,MD,5.0L V8 SFI DOHC 32V
13747,Chevrolet,Silverado-1500-Work-Truck,2016,10,27995,Automatic,RWD,Manheim,PA 17545,4.3 6 Cylinder Not Specified
13957,Kia,Optima-Ex,2017,-1,25849,A,FWD,Bradenton,FL 34207,2.40L I4
14173,Kia,Optima-SX-Turbo,2017,-1,32352,A,FWD,Bradenton,FL 34207,2.00L I4
14709,Kia,Cadenza-Limited,2017,-1,42973,A,FWD,Bradenton,FL 34207,3.30L V6
14739,Kia,Niro-LX,2017,-1,26225,A,FWD,Bradenton,FL 34207,1.60L I4
14756,Ford,Explorer-XLT,2014,-1,28497,A,AWD,Langhorne,PA 19047,3.50L V6
14928,Kia,Sorento-EX,2017,-1,31930,A,FWD,Bradenton,FL 34207,2.00L I4
15022,Kia,Optima-Ex,2017,-1,25456,A,FWD,Bradenton,FL 34207,2.40L I4
15134,Kia,Optima-LX-Turbo,2017,-1,26029,A,FWD,Bradenton,FL 34207,1.60L I4
15383,Ford,Explorer-XLT,2014,-1,28497,A,AWD,Langhorne,PA 19047,3.50L V6
15411,Kia,Forte-S,2017,-1,20926,A,FWD,Bradenton,FL 34207,2.00L I4
15451,Hyundai,Santa-Fe-Limited-Ultimate,2017,254,36000,NaN,NaN,Annapolis,MD 21401,NaN
15539,Kia,Forte-S,2017,-1,20926,A,FWD,Bradenton,FL 34207,2.00L I4

In [24]:
# Here is the problem, we don't want 24 rows duplicated but we need the car_id in our dataframe because for further 
# analysis we'll need to match the cars with the image and website links (from our primary dataframe) and the car_id is
# the only column which will do that match for us.

# Let's add again the car_id to our datframe and get rid of the rows which are showing duplicated values for columns
# 1 to column 10 (keeping the last value/row)

cars_fix = cars.ix[:, {1, 3, 4, 6, 8, 9, 11, 12, 13,14, 17}]
cars_fix.head()

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
0,73531922,Toyota,Corolla-LE,2015,23036,13298,Automatic,FWD,Chantilly,VA 20151,1.8 4 Cylinder Sequential-Port F.I.
1,72354903,Jeep,Wrangler-Unlimted-Sahara,2012,73619,26995,AUTOMATIC,4WD,Baltimore,MD 21215,3.6L 6 CYL. GAS
2,73704666,Honda,Civic-LX,2014,27784,14097,Automatic,FWD,Ellicott City,MD 21043,1.80L I4
3,73566743,Jeep,Grand-Cherokee-Limited,2014,36636,27899,8-Speed Automatic,4WD,Palmyra,PA 17078,3.6L V6 Flex Fuel 24V VVT
4,73745994,Hyundai,Santa-Fe-Sport-24L,2013,48568,18981,A,AWD,Doylestown,PA 18902,2.40L I4

In [25]:
cars.columns

Index([u'site', u'car_id', u'car_descrip', u'car_make', u'car_model',
       u'car_trim', u'car_year', u'car_category', u'car_mileage', u'car_price',
       u'car_extColor', u'car_transmission', u'car_driveTrain', u'car_vendor',
       u'car_location', u'car_detail_link', u'car_img_link', u'car_engine',
       u'column_18', u'column_19'],
      dtype='object')

In [26]:
# Let's get rid of the duplicated rows from column 1 to 10 and keep at least one of the duplicated rows (the last)

df = cars_fix.drop_duplicates(['car_make', 'car_model', 'car_year', 'car_mileage', 'car_price', 'car_transmission',
                          'car_driveTrain', 'car_vendor', 'car_location', 'car_engine'], keep = 'first')

In [27]:
df

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
0,73531922,Toyota,Corolla-LE,2015,23036,13298,Automatic,FWD,Chantilly,VA 20151,1.8 4 Cylinder Sequential-Port F.I.
1,72354903,Jeep,Wrangler-Unlimted-Sahara,2012,73619,26995,AUTOMATIC,4WD,Baltimore,MD 21215,3.6L 6 CYL. GAS
2,73704666,Honda,Civic-LX,2014,27784,14097,Automatic,FWD,Ellicott City,MD 21043,1.80L I4
3,73566743,Jeep,Grand-Cherokee-Limited,2014,36636,27899,8-Speed Automatic,4WD,Palmyra,PA 17078,3.6L V6 Flex Fuel 24V VVT
4,73745994,Hyundai,Santa-Fe-Sport-24L,2013,48568,18981,A,AWD,Doylestown,PA 18902,2.40L I4
5,72021162,Hyundai,Accent-SE,2016,12145,12619,A,FWD,Langhorne,PA 19047,1.60L I4
6,68842989,GMC,Yukon-Denali,2015,24490,56994,Automatic,4WD,Venice,FL 34285,6.20L V8
7,72942655,Chevrolet,Malibu-LT,2014,46570,14998,A,FWD,Fort Myers,FL 33966,2.50L I4
8,72367561,Lincoln,Navigator-L,2014,44807,35991,6-Speed Automatic,4WD,Lititz,PA 17543,5.4 8 Cylinder Fuel Injected
9,73099146,Hyundai,Sonata-Limited,2013,31750,14000,NaN,NaN,Turnersville,NJ 08012,NaN
10,73328867,Chevrolet,Malibu-LT,2015,18475,18849,6-Speed Automatic,FWD,Jenkintown,PA 19046,2.5 4 Cylinder Fuel Injected
11,68994559,Mazda,Cx-5-Sport,2015,20530,23988,A,AWD,State College,PA 16801,2.50L I4
12,73432192,Kia,Optima-LX,2015,26624,11999,AUTOMATIC,FWD,Lake Worth,FL 33461,2.4 L
13,73596441,Hyundai,Santa-Fe-Sport-24L,2016,35184,18305,A,FWD,Chester,VA 23836,2.40L I4
14,72657189,Buick,Lesabre-Custom,1997,113339,1200,4-Speed Automatic,FWD,Bear,DE 19701,3.8 6 Cylinder Fuel Injection
15,73227897,Kia,Sportage-EX,2016,20873,23888,Shiftable Automatic,AWD,Conshohocken,PA 19428,2.4 4 Cylinder Fuel Injected
16,73677186,Hyundai,Genesis-38l,2016,11947,30998,A,RWD,Midlothian,VA 23114,3.80L V6
17,73242301,Volkswagen,Jetta-14T-SE,2016,37308,11999,AUTOMATIC,FWD,Lake Worth,FL 33461,1.4 L
18,73572546,Infiniti,QX60,2015,47542,32392,Variable,AWD,Harrisburg,PA 17111,3.5 L
19,73645247,Subaru,Crosstrek-20i-Special-Edition,2017,457,24998,Automatic,AWD,King Of Prussia,PA 19406,2.00L H4
20,72832898,Buick,Lacrosse-Leather,2014,39826,17998,A,FWD,Boynton Beach,FL 33426,2.40L I4
21,73560571,Jeep,Grand-Cherokee-Laredo,2015,46988,21995,Automatic,4WD,Warminster,PA 18974,3.6 6 Cylinder Sequential-Port F.I.
22,73572543,Cadillac,SRX-Luxury-Collection,2014,25104,26881,Automatic,FWD,Harrisburg,PA 17111,3.6L
23,73084835,Ford,F150-XL,2014,73564,25085,Automatic,RWD,North Palm Beach,FL 33408,5.0l V8
24,73675758,Buick,Century-Custom,1999,61312,4986,NaN,NaN,Mechanicsburg,PA 17050,NaN
25,73619251,Subaru,Crosstrek-20i-Premium,2016,18800,24814,Automatic,AWD,East Petersburg,PA 17520,2.00L H4
26,73727070,Ford,F350-Super-Duty-SRW-Lariat,2016,23901,54999,A,4WD,Prince Frederick,MD 20678,6.70L V8
27,73186902,Ford,F250-Super-Duty-XL,2016,38466,39999,Automatic,4WD,Laurel,MD 20707,6.7 8 Cylinder Not Specified
28,65658388,BMW,X5-xDrive30i,2009,118597,15977,AUTO,AWD,North Wales,PA 19454,Straight 6 Cylinder Engine
29,72928335,Ford,Escape-SE,2015,24477,16998,A,FWD,Fort Myers,FL 33966,1.60L I4
...,...,...,...,...,...,...,...,...,...,...,...
17037,72207895,Honda,Civic-LX,2017,5957,16900,Automatic,FWD,Philadelphia,PA 19124,2.0L L4 DOHC 16V
17038,73311323,Jeep,Cherokee-Limited,2014,51224,18500,9-Speed 948TE Automatic,4WD,Culpeper,VA 22701,3.2L V6
17039,73102964,Toyota,Rav4-Xle,2016,15530,20985,Automatic,FWD,Bowie,MD 20716,2.5 4 Cylinder Fuel Injected
17040,73742754,Chevrolet,Cruze-2lt,2015,67801,9988,A,FWD,West Palm Beach,FL 33409,1.40L I4
17041,73670943,Jeep,Cherokee-Trailhawk,2014,47214,23599,A,4WD,Charlottesville,VA 22911,3.20L V6
17042,72945847,Audi,A4-20T-ultra-Premium,2017,3584,33400,Dual Shift Gearbox,FWD,West Palm Beach,FL 33409,2.0 4 Cylinder Turbocharged
17043,72878958,Toyota,Camry-SE,2013,11630,16998,A,FWD,Fort Myers,FL 33966,2.50L I4
17044,72652053,Honda,Pilot-Touring,2016,30188,40000,Automatic,AWD,Harrisburg,PA 17111,3.5 L
17045,71471150,Chrysler,Pacifica-Touring-L,2017,28042,23350,Automatic,FWD,Lake Park,FL 33403,3.6 6 Cylinder Fuel Injected
17046,72596410,Toyota,Sienna-Xle-Aas,2013,12132,33998,A,FWD,Gaithersburg,MD 20877,3.50L V6
17047,71394402,Lexus,GX-470,2005,136983,9995,Automatic,4WD,New Cumberland,PA 17070,4.7 8 Cylinder Fuel Injected
17048,73461647,Toyota,Avalon-Xle,2014,76676,18991,6-Speed Automatic,FWD,Fairfax,VA 22030,3.5 6 Cylinder Fuel Injected
17049,73548052,Ford,F150-XL,2015,13825,37990,Automatic,RWD,Sarasota,FL 34233,3.5l V6 Turbo
17050,73560261,Dodge,Ram-1500-ST,2006,88510,16800,5-Speed Automatic,4WD,Fogelsville,PA 18051,5.7 HEMI 5.7L V8 345hp 375ft. Fuel Injection
17051,73703025,GMC,Terrain-SLE-1,2012,57744,15599,A,FWD,Midlothian,VA 23114,2.40L I4
17052,72853355,Kia,Sorento-LX,2014,58041,14998,A,FWD,Fort Myers,FL 33966,2.40L I4
17053,49211732,Honda,Accord-LX,2006,153426,5995,5-Speed Automatic,FWD,Mt. Holly,NJ 08060,2.4 4 Cylinder Other
17054,73679483,Ford,Focus-SE,2016,20624,15499,Automatic,FWD,Prince Frederick,MD 20678,2.00L I4
17055,69349756,Chevrolet,Tahoe-LTZ,2011,140481,21988,A,4WD,State College,PA 16801,5.30L V8
17056,73709569,Dodge,Durango-Citadel,2017,4915,46995,8-Speed Automatic,AWD,Lewisburg,PA 17837,5.7 8 Cylinder Sequential-Port F.I.
17057,72656148,Toyota,Tundra-Limited,2015,50640,35960,A,4WD,Elkins,WV 26241,5.70L V8
17058,72928365,GMC,Terrain-SLE-1,2015,20020,18998,A,FWD,Fort Myers,FL 33966,2.40L I4
17059,67874077,Ford,Explorer-Eddie-Bauer,2010,53935,20977,AUTO,4WD,North Wales,PA 19454,V6 Cylinder Engine
17060,70189899,Mercury,Mariner-Luxury,2007,92171,7400,4-Speed Automatic,AWD,Gap,PA 17527,3.0 6 Cylinder Other
17061,73115984,Toyota,RAV4-Limited,2009,129659,12490,Automatic,4WD,Hagerstown,MD 21740,2.5 Liter
17062,72863072,Volkswagen,Jetta-TDI,2015,23907,20993,Automatic,FWD,Waldorf,MD 20601,2.0 4 Cylinder Turbo Diesel
17063,73078318,Jeep,Compass-Latitude,2015,28773,17991,Not Specified,4WD,Northumberland,PA 17857,2.4 4 Cylinder Sequential-Port F.I.
17064,73354022,Kia,Sportage-LX,2005,30084,7795,Automatic,FWD,West Palm Beach,FL 33409,2.0 4 Cylinder Fuel Injected
17065,73579560,Kia,Sedona-LX,2006,143781,4277,5-Speed Automatic,FWD,Hagerstown,MD 21740,3.8 6 Cylinder Fuel Injected
17066,73277578,Ford,F250-Super-Duty-Lariat,2004,121939,11970,Automatic,4WD,Boyertown,PA 19512,5.40L V8

In [20]:
# After droping the duplicated rows we have a dataframe amounted of 17,043 counts which is in agreement with the 
# initial dataframe about 17,067 minus 24 duplicates = 17,043. Let's move forward!

### Nan values 2nd

In [28]:
df.isnull().sum()

car_id                0
car_make              0
car_model             0
car_year              0
car_mileage           0
car_price             0
car_transmission    335
car_driveTrain      335
car_vendor            0
car_location          0
car_engine          336
dtype: int64

In [29]:
# There are still null values to fill, let's make some hypothesis:

# 1.car_transmission empty values will be filled with value: 'automatic' which is most common value for that variable
# 2.car_driveTrain empty values will be filled with 'FWD' which is also the most common value for drivetrain 
# 3. here are 336 car engine empty values because there were no records in the website, those won't be filled!

In [30]:
df['car_transmission'].fillna('Automatic')
df['car_driveTrain'].fillna('FWD')
df.head(10)

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
0,73531922,Toyota,Corolla-LE,2015,23036,13298,Automatic,FWD,Chantilly,VA 20151,1.8 4 Cylinder Sequential-Port F.I.
1,72354903,Jeep,Wrangler-Unlimted-Sahara,2012,73619,26995,AUTOMATIC,4WD,Baltimore,MD 21215,3.6L 6 CYL. GAS
2,73704666,Honda,Civic-LX,2014,27784,14097,Automatic,FWD,Ellicott City,MD 21043,1.80L I4
3,73566743,Jeep,Grand-Cherokee-Limited,2014,36636,27899,8-Speed Automatic,4WD,Palmyra,PA 17078,3.6L V6 Flex Fuel 24V VVT
4,73745994,Hyundai,Santa-Fe-Sport-24L,2013,48568,18981,A,AWD,Doylestown,PA 18902,2.40L I4
5,72021162,Hyundai,Accent-SE,2016,12145,12619,A,FWD,Langhorne,PA 19047,1.60L I4
6,68842989,GMC,Yukon-Denali,2015,24490,56994,Automatic,4WD,Venice,FL 34285,6.20L V8
7,72942655,Chevrolet,Malibu-LT,2014,46570,14998,A,FWD,Fort Myers,FL 33966,2.50L I4
8,72367561,Lincoln,Navigator-L,2014,44807,35991,6-Speed Automatic,4WD,Lititz,PA 17543,5.4 8 Cylinder Fuel Injected
9,73099146,Hyundai,Sonata-Limited,2013,31750,14000,NaN,NaN,Turnersville,NJ 08012,NaN

In [31]:
df.isnull().sum()

car_id                0
car_make              0
car_model             0
car_year              0
car_mileage           0
car_price             0
car_transmission    335
car_driveTrain      335
car_vendor            0
car_location          0
car_engine          336
dtype: int64

In [32]:
# We are good ! the only Nan values are the ones from car_engine column which are also empty in the website

### Fixing columns manually

#Row label 3683 is not showing the right values in columns car_vendor, car_location and car_engine
#Let's find out the information in the website and fill the cells with the right values

In [33]:
df[3680:3684]

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
3682,73754912,Chevrolet,Silverado-1500-LT,2017,5191,34999,Automatic,4WD,Jenkintown,PA 19046,5.3 8 Cylinder Fuel Injected
3683,73632250,Volkswagen,Tiguan-S-SE-SEL,2011,45000,10200,6-Speed Shiftable Automatic,FWD,FL,https://www.carsoup.com//details/used/2011/Vol...,NaN
3684,73766417,Volkswagen,Jetta-Sedan-S,2014,33186,8999,AUTOMATIC,FWD,Lake Worth,FL 33461,2.0 L
3685,73622903,Lincoln,MKX,2010,36818,19995,6-Speed Automatic,AWD,Manheim,PA 17545,3.5 6 Cylinder Sequential-Port F.I.

In [34]:
df.ix[3683, 7] = 'FWD'
df.ix[3683, 8] = 'Lake Worth'
df.ix[3683, 9] = 'FL 33461'
df.ix[3683, 10] = '2.0L L4 SFI DOHC 16V'

df[3680:3684]

C:\Users\darog\Anaconda2\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
3682,73754912,Chevrolet,Silverado-1500-LT,2017,5191,34999,Automatic,4WD,Jenkintown,PA 19046,5.3 8 Cylinder Fuel Injected
3683,73632250,Volkswagen,Tiguan-S-SE-SEL,2011,45000,10200,6-Speed Shiftable Automatic,FWD,Lake Worth,FL 33461,2.0L L4 SFI DOHC 16V
3684,73766417,Volkswagen,Jetta-Sedan-S,2014,33186,8999,AUTOMATIC,FWD,Lake Worth,FL 33461,2.0 L
3685,73622903,Lincoln,MKX,2010,36818,19995,6-Speed Automatic,AWD,Manheim,PA 17545,3.5 6 Cylinder Sequential-Port F.I.

### Anomalous values for car_mileage

In [35]:
df[df['car_mileage'].isin([-1, 1])].shape

(158, 11)

In [36]:
# 158 rows containing -1 or 1 values for miles, we'll need to double check in the website to see where this error is 
# coming from

In [37]:
df[df['car_mileage'].isin([-1])]

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
60,73799050,Kia,Cadenza-Premium,2017,-1,35597,A,FWD,Bradenton,FL 34207,3.30L V6
132,73641005,Jeep,Cherokee-Latitude,2014,-1,16995,A,FWD,Fort Myers,FL 33966,3.20L V6
262,73799037,Kia,Rio-Lx,2017,-1,16622,A,FWD,Bradenton,FL 34207,1.60L I4
270,73799022,Kia,Sorento-EX,2017,-1,31930,A,FWD,Bradenton,FL 34207,2.00L I4
279,73799004,Kia,Optima-SX-Turbo,2017,-1,32558,A,FWD,Bradenton,FL 34207,2.00L I4
390,73799033,Kia,Sorento-SX-V6,2017,-1,38786,A,FWD,Bradenton,FL 34207,3.30L V6
497,73799011,Kia,Sorento-LX,2017,-1,32358,A,FWD,Bradenton,FL 34207,2.40L I4
571,73641027,Subaru,Forester-25i-Touring,2015,-1,26995,Automatic,AWD,Fort Myers,FL 33966,2.50L H4
623,73727816,Nissan,Frontier-SV,2013,-1,24998,A,4WD,Fort Myers,FL 33966,4.00L V6
699,73502713,Ram,1500-SLT,2014,-1,32000,A,RWD,Sarasota,FL 34236,3.00L V6
746,72194878,Toyota,Tacoma,2001,-1,9995,4-Speed Automatic,RWD,West Palm Beach,FL 33405,2.4 4 Cylinder Fuel Injection
838,73798996,Kia,Optima-Ex,2017,-1,25456,A,FWD,Bradenton,FL 34207,2.40L I4
856,73670561,Mazda,Cx-5-Touring,2016,-1,22998,A,FWD,Fort Myers,FL 33966,2.50L I4
945,73770210,Nissan,Altima-35-SL,2007,-1,8998,Automatic,FWD,Fort Myers,FL 33966,3.50L V6
973,39222258,Bentley,Continental-GT,2012,-1,185999,5 SPEED SHIFTABLE AUTOMATIC,AWD,North Wales,PA 19454,12 Cylinder Engine
1054,73641011,Toyota,Venza-Le,2014,-1,18998,A,FWD,Fort Myers,FL 33966,2.70L I4
1103,73670542,Dodge,Durango-Limited,2014,-1,24998,A,RWD,Fort Myers,FL 33966,3.60L V6
1268,60657688,Volkswagen,Jetta-GLS,2002,-1,2995,4-Speed Automatic,FWD,Norristown,PA 19401,1.8 4 Cylinder Other
1369,73798987,Kia,Optima-Ex,2017,-1,28772,A,FWD,Bradenton,FL 34207,2.40L I4
1378,73798968,Kia,Optima-LX-Turbo,2017,-1,24940,A,FWD,Bradenton,FL 34207,1.60L I4
1400,73747505,Hyundai,Sonata-Limited,2015,-1,19968,A,FWD,Fort Myers,FL 33966,2.40L I4
1448,73799019,Kia,Sorento-LX,2017,-1,29593,A,FWD,Bradenton,FL 34207,2.40L I4
1559,73798953,Kia,Forte-EX,2017,-1,25778,A,FWD,Bradenton,FL 34207,2.00L I4
1650,30038361,Mercedes-Benz,S-Class-S550,2009,-1,59988,5 SPEED SHIFTABLE AUTOMATIC,RWD,North Wales,PA 19454,8 Cylinder Engine
1883,73727826,Hyundai,Sonata-GLS,2014,-1,14998,A,FWD,Fort Myers,FL 33966,2.40L I4
1928,73799032,Kia,Sorento-SX-V6,2017,-1,38570,A,FWD,Bradenton,FL 34207,3.30L V6
2068,73799035,Kia,Rio-Lx,2017,-1,15991,A,FWD,Bradenton,FL 34207,1.60L I4
2215,72629779,Chevrolet,C1500-Cheyenne,1996,-1,1995,4-Speed Automatic,RWD,West Palm Beach,FL 33405,5.0 8 Cylinder Fuel Injection
2263,73798951,Kia,Forte-S,2017,-1,19542,A,FWD,Bradenton,FL 34207,2.00L I4
2392,73798985,Kia,Optima-Ex,2017,-1,30721,A,FWD,Bradenton,FL 34207,2.40L I4
...,...,...,...,...,...,...,...,...,...,...,...
13352,73799010,Kia,Sorento-LX,2017,-1,28202,A,FWD,Bradenton,FL 34207,2.40L I4
13425,73713995,GMC,Acadia-SLT-1,2013,-1,26990,Shiftable Automatic,AWD,Alexandria,VA 22303,3.6 6 Cylinder Fuel Injected
13610,72629778,Chevrolet,Avalanche-K1500,2004,-1,5995,4-Speed Automatic,4WD,West Palm Beach,FL 33405,5.3 8 Cylinder Fuel Injection
13868,73530085,Dodge,Ram-Pickup-2500-Laramie,2008,-1,25972,6-Speed,4WD,Parkesburg,PA 19365,6.7 6 Cylinder Turbo Diesel
13950,71200885,Hyundai,Santa-Fe-SE,2017,-1,26541,A,AWD,Langhorne,PA 19047,3.30L V6
13985,73752469,Chevrolet,Malibu-LT,2010,-1,9990,Shiftable Automatic,FWD,Alexandria,VA 22303,2.4 4 Cylinder Sequential-Port F.I.
14001,30038263,Toyota,FJ-Cruiser,2009,-1,26750,5 SPEED SHIFTABLE AUTOMATIC,4WD,North Wales,PA 19454,V6 Cylinder Engine
14214,73747494,Jeep,Compass-Sport,2016,-1,16998,Automatic,FWD,Fort Myers,FL 33966,2.00L I4
14543,73798997,Kia,Optima-SXL-Turbo,2017,-1,35329,A,FWD,Bradenton,FL 34207,2.00L I4
14593,73799038,Kia,Rio5-LX,2017,-1,16128,A,FWD,Bradenton,FL 34207,1.60L I4
14756,73540232,Ford,Explorer-XLT,2014,-1,28497,A,AWD,Langhorne,PA 19047,3.50L V6
15057,73798945,Kia,Forte-LX,2017,-1,17474,M,FWD,Bradenton,FL 34207,2.00L I4
15164,73799031,Kia,Sorento-SX-V6,2017,-1,40595,A,FWD,Bradenton,FL 34207,3.30L V6
15268,73799040,Kia,Rio-Ex,2017,-1,19020,A,FWD,Bradenton,FL 34207,1.60L I4
15411,73798948,Kia,Forte-S,2017,-1,20926,A,FWD,Bradenton,FL 34207,2.00L I4
15437,73641015,Hyundai,Elantra-SE,2016,-1,13386,A,FWD,Fort Myers,FL 33966,1.80L I4
15475,73775404,GMC,Terrain-SLE-2,2013,-1,17695,Shiftable Automatic,AWD,Elizabethtown,PA 17022,2.4 4 Cylinder Fuel Injected
15620,73799056,Kia,Niro-LX,2017,-1,25955,A,FWD,Bradenton,FL 34207,1.60L I4
15743,67621642,Mercedes-Benz,GLC-Class-GLC300-4MATIC,2017,-1,45000,Automatic,AWD,Hagerstown,MD 21740,2.0 L
15775,73798971,Kia,Optima-LX-Turbo,2017,-1,25986,A,FWD,Bradenton,FL 34207,1.60L I4
15951,62208910,Mercedes-Benz,S550-4Matic,2013,-1,59999,Automatic,AWD,Hagerstown,MD 21740,4.6L
16053,72605156,Land-Rover,Range-Rover-HSE,2016,-1,83900,Not Specified,AWD,Wilmington,DE 19808,3.0 6 Cylinder Supercharged
16307,73713999,Buick,Enclave-Leather,2014,-1,27775,Shiftable Automatic,FWD,Alexandria,VA 22303,3.6 6 Cylinder Fuel Injected
16351,73799027,Kia,Sorento-EX,2017,-1,33826,A,FWD,Bradenton,FL 34207,3.30L V6
16399,73799052,Kia,Cadenza-Limited,2017,-1,43103,A,FWD,Bradenton,FL 34207,3.30L V6
16582,60657679,Nissan,Quest-35-S,2004,-1,4495,4-Speed Automatic,FWD,Norristown,PA 19401,3.5 6 Cylinder Other
16648,73392101,Ford,F150-XL,2008,-1,15678,A,4WD,Quakertown,PA 18951,5.40L V8
16811,73798952,Kia,Forte-EX,2017,-1,21394,A,FWD,Bradenton,FL 34207,2.00L I4
16852,73799025,Kia,Sorento-EX,2017,-1,36471,A,FWD,Bradenton,FL 34207,2.00L I4
16879,73799014,Kia,Sorento-LX,2017,-1,27837,A,FWD,Bradenton,FL 34207,2.40L I4

In [38]:
# cars are showing a -1 mileage value however there is a value in the website, we need to fix it !!!!
print cars.loc[132, 'car_detail_link']

https://www.carsoup.com//details/used/2014/Jeep/Cherokee-Latitude/73641005/?returl=L3ZlaGljbGUvcmVzdWx0cy5hc3B4P3ZlaGljbGV0eXBlaWQ9MSZpbnZ0eXBlaWQ9MiZyYWRpdXM9MTUwJmRvc29ydD1zdGRzbHJfYXNjJTJjZGlzdGFuY2VfYXNjJmZvcm1fdHlwZT00JTNhU3VtbWFyeVppcCZtYXhwcmljZT0xMDAwMDAwJnBhZ2VudW09NjI5

In [39]:
print cars.loc[270, 'car_detail_link']

https://www.carsoup.com//details/used/2017/Kia/Sorento-EX/73799022/?returl=L3ZlaGljbGUvcmVzdWx0cy5hc3B4P3ZlaGljbGV0eXBlaWQ9MSZpbnZ0eXBlaWQ9MiZyYWRpdXM9MTUwJmRvc29ydD1zdGRzbHJfYXNjJTJjZGlzdGFuY2VfYXNjJmZvcm1fdHlwZT00JTNhU3VtbWFyeVppcCZtYXhwcmljZT0xMDAwMDAwJnBhZ2VudW09OTAy

In [40]:
df_negative_mileage = df[df['car_mileage'].isin([-1])]
df_negative_mileage.to_csv('cars_negative_mileage.csv')
# let's create a csv file where all the negatic=ve prices are recorded

In [41]:
df[df['car_mileage'].isin([1])]
# 3 cars with 1 mile, row 1462 and 14286 are acceptable since cars are pretty brand-new cars from 2017, 
# however row 10297 must be an error we'll need to double check in the website

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
1462,72686230,Ford,F250-Super-Duty-King-Ranch,2017,1,73619,Shiftable Automatic,4WD,Fort Pierce,FL 34982,6.7 8 Cylinder Not Specified
10297,73188273,Mercedes-Benz,ML320,1999,1,6995,5-Speed Automatic,AWD,West Palm Beach,FL 33405,3.2 6 Cylinder Fuel Injection
14286,73230923,Ford,F150-XLT,2017,1,42529,Automatic,RWD,Fort Pierce,FL 34982,3.5 6 Cylinder Twin Turbo

In [42]:
# car at row#10297 is not longer available in the website, no way to get the extra information, so we'll need to drop
# that row

In [43]:
print cars.loc[10297, 'car_detail_link']

https://www.carsoup.com//details/used/1999/Mercedes-Benz/ML320/73188273/?returl=L3ZlaGljbGUvcmVzdWx0cy5hc3B4P3ZlaGljbGV0eXBlaWQ9MSZpbnZ0eXBlaWQ9MiZyYWRpdXM9MTUwJmRvc29ydD1zdGRzbHJfYXNjJTJjZGlzdGFuY2VfYXNjJmZvcm1fdHlwZT00JTNhU3VtbWFyeVppcCZtYXhwcmljZT0xMDAwMDAwJnBhZ2VudW09NzA3

In [44]:
df[df['car_price'].isin([-1,1])].shape
# fortunately we don't have negative values for car_price

(0, 11)

In [50]:
df.to_csv('carsoup_clean.csv')
# generate a csv file and concatenate with the one provided by Emmanuel

In [51]:
pwd df

u'C:\\Users\\darog\\NOTEBOOKS\\PPUC'

In [47]:
df.groupby('car_make').count()

,car_id,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
car_make,,,,,,,,,,
Acura,337,337,337,337,337,334,334,337,337,334
Aston-Martin,9,9,9,9,9,9,9,9,9,9
Audi,305,305,305,305,305,303,303,305,305,303
BMW,797,797,797,797,797,791,791,797,797,791
Bentley,13,13,13,13,13,13,13,13,13,13
Buick,243,243,243,243,243,242,242,243,243,242
Cadillac,315,315,315,315,315,298,298,315,315,298
Chevrolet,1564,1564,1564,1564,1564,1536,1536,1564,1564,1536
Chrysler,321,321,321,321,321,320,320,321,321,320
Dodge,555,555,555,555,555,552,552,555,555,552
FIAT,28,28,28,28,28,28,28,28,28,28
Ferrari,12,12,12,12,12,12,12,12,12,12
Ford,1946,1946,1946,1946,1946,1922,1922,1946,1946,1922
GMC,359,359,359,359,359,357,357,359,359,357
Genesis,7,7,7,7,7,6,6,7,7,6
Honda,1308,1308,1308,1308,1308,1289,1289,1308,1308,1289
Hummer,7,7,7,7,7,7,7,7,7,7
Hyundai,1610,1610,1610,1610,1610,1532,1532,1610,1610,1532
Infiniti,174,174,174,174,174,172,172,174,174,172
Isuzu,2,2,2,2,2,2,2,2,2,2
Jaguar,102,102,102,102,102,91,91,102,102,91
Jeep,982,982,982,982,982,958,958,982,982,958
Kia,641,641,641,641,641,639,639,641,641,639
Lamborghini,31,31,31,31,31,31,31,31,31,31
Land-Rover,144,144,144,144,144,123,123,144,144,123
Lexus,276,276,276,276,276,273,273,276,276,273
Lincoln,114,114,114,114,114,112,112,114,114,112
MINI,79,79,79,79,79,77,77,79,79,77
Maserati,35,35,35,35,35,31,31,35,35,31
Maybach,1,1,1,1,1,1,1,1,1,1
Mazda,321,321,321,321,321,315,315,321,321,315
McLaren,4,4,4,4,4,4,4,4,4,4
Mercedes-Benz,384,384,384,384,384,383,383,384,384,383
Mercury,34,34,34,34,34,34,34,34,34,34
Mitsubishi,90,90,90,90,90,80,80,90,90,80
Nissan,1032,1032,1032,1032,1032,1013,1013,1032,1032,1013
Oldsmobile,3,3,3,3,3,3,3,3,3,3
Pontiac,21,21,21,21,21,21,21,21,21,21
Porsche,84,84,84,84,84,84,84,84,84,84
Ram,287,287,287,287,287,277,277,287,287,277
Rolls-Royce,2,2,2,2,2,2,2,2,2,2
Saab,1,1,1,1,1,1,1,1,1,1
Saturn,21,21,21,21,21,20,20,21,21,20
Scion,52,52,52,52,52,51,51,52,52,51
Smart,9,9,9,9,9,9,9,9,9,9
Subaru,596,596,596,596,596,594,594,596,596,594
Suzuki,10,10,10,10,10,10,10,10,10,10
TESLA,1,1,1,1,1,1,1,1,1,1
Toyota,1220,1220,1220,1220,1220,1196,1196,1220,1220,1196
Volkswagen,486,486,486,486,486,483,483,486,486,483
Volvo,68,68,68,68,68,66,66,68,68,66

In [48]:
df.columns

Index([u'car_id', u'car_make', u'car_model', u'car_year', u'car_mileage',
       u'car_price', u'car_transmission', u'car_driveTrain', u'car_vendor',
       u'car_location', u'car_engine'],
      dtype='object')

In [49]:
df.columns.size

11

In [50]:
#from sklearn.neighbors import KNeighborsClassifier
#help(KNeighborsClassifier)