In [44]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [45]:
df = pd.read_csv('/home/brian/Documents/project/data/most_recent_version.csv', 
            index_col = 0 , error_bad_lines = False)

We see that some car_make values are not technically duplicates, but actually are. For example, Aston Martin and Aston-Martin.

In [47]:
df.groupby('car_make').count()

,car_id,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
car_make,,,,,,,,,,
Acura,513,513,513,513,513,510,510,513,513,334
Alfa Romeo,1,1,1,1,1,1,1,1,1,0
Aston Martin,1,1,1,1,1,1,1,1,1,0
Aston-Martin,9,9,9,9,9,9,9,9,9,9
Audi,458,458,458,458,458,456,456,458,458,303
BMW,1048,1048,1048,1048,1048,1042,1042,1048,1048,791
Bentley,15,15,15,15,15,15,15,15,15,13
Buick,311,311,311,311,311,310,310,311,311,242
Cadillac,431,431,431,431,431,414,414,431,431,298
Chevrolet,1851,1851,1851,1851,1851,1823,1823,1851,1851,1536
Chrysler,452,452,452,452,452,451,451,452,452,320
Dodge,707,707,707,707,707,704,704,707,707,552
FIAT,42,42,42,42,42,42,42,42,42,28
Ferrari,14,14,14,14,14,14,14,14,14,12
Ford,2249,2249,2249,2249,2249,2225,2225,2249,2249,1922
GMC,442,442,442,442,442,440,440,442,442,357
Genesis,7,7,7,7,7,6,6,7,7,6
Honda,1602,1602,1602,1602,1602,1583,1583,1602,1602,1289
Hummer,9,9,9,9,9,9,9,9,9,7
Hyundai,1833,1833,1833,1833,1833,1755,1755,1833,1833,1532
INFINITI,83,83,83,83,83,83,83,83,83,0
Infiniti,174,174,174,174,174,172,172,174,174,172
Isuzu,2,2,2,2,2,2,2,2,2,2
Jaguar,122,122,122,122,122,111,111,122,122,91
Jeep,1127,1127,1127,1127,1127,1103,1103,1127,1127,958
Kia,725,725,725,725,725,723,723,725,725,639
Lamborghini,31,31,31,31,31,31,31,31,31,31
Land Rover,27,27,27,27,27,27,27,27,27,0
Land-Rover,144,144,144,144,144,123,123,144,144,123
Lexus,518,518,518,518,518,515,515,518,518,273
Lincoln,171,171,171,171,171,169,169,171,171,112
MG,1,1,1,1,1,1,1,1,1,0
MINI,117,117,117,117,117,115,115,117,117,77
Maserati,45,45,45,45,45,41,41,45,45,31
Maybach,1,1,1,1,1,1,1,1,1,1
Mazda,396,396,396,396,396,390,390,396,396,315
McLaren,5,5,5,5,5,5,5,5,5,4
Mercedes-Benz,739,739,739,739,739,738,738,739,739,383
Mercury,40,40,40,40,40,40,40,40,40,34
Mitsubishi,109,109,109,109,109,99,99,109,109,80
Nissan,1342,1342,1342,1342,1342,1323,1323,1342,1342,1013
Oldsmobile,3,3,3,3,3,3,3,3,3,3
Pontiac,26,26,26,26,26,26,26,26,26,21
Porsche,132,132,132,132,132,132,132,132,132,84
RAM,31,31,31,31,31,31,31,31,31,0
Ram,287,287,287,287,287,277,277,287,287,277
Rolls-Royce,2,2,2,2,2,2,2,2,2,2
Saab,3,3,3,3,3,3,3,3,3,1
Saturn,22,22,22,22,22,21,21,22,22,20
Scion,66,66,66,66,66,65,65,66,66,51
Smart,9,9,9,9,9,9,9,9,9,9
Subaru,647,647,647,647,647,645,645,647,647,594
Suzuki,10,10,10,10,10,10,10,10,10,10
TESLA,1,1,1,1,1,1,1,1,1,1
Tesla,1,1,1,1,1,1,1,1,1,0
Toyota,1663,1663,1663,1663,1663,1639,1639,1663,1663,1196
Triumph,1,1,1,1,1,1,1,1,1,0
Volkswagen,648,648,648,648,648,645,645,648,648,483
Volvo,124,124,124,124,124,122,122,124,124,66
smart,4,4,4,4,4,4,4,4,4,0

Let's replace them...

In [55]:
df = df.replace('Aston-Martin', 'Aston Martin')

In [56]:
df = df.replace('INFINITI', 'Infiniti')

In [57]:
df = df.replace('smart', 'Smart')

In [58]:
df = df.replace('TESLA', 'Tesla')

In [59]:
df = df.replace('RAM', 'Ram')

In [60]:
df = df.replace('Land-Rover', 'Land Rover')

...and see our results!

In [61]:
df.groupby('car_make').count()

,car_id,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
car_make,,,,,,,,,,
Acura,513,513,513,513,513,510,510,513,513,334
Alfa Romeo,1,1,1,1,1,1,1,1,1,0
Aston Martin,10,10,10,10,10,10,10,10,10,9
Audi,458,458,458,458,458,456,456,458,458,303
BMW,1048,1048,1048,1048,1048,1042,1042,1048,1048,791
Bentley,15,15,15,15,15,15,15,15,15,13
Buick,311,311,311,311,311,310,310,311,311,242
Cadillac,431,431,431,431,431,414,414,431,431,298
Chevrolet,1851,1851,1851,1851,1851,1823,1823,1851,1851,1536
Chrysler,452,452,452,452,452,451,451,452,452,320
Dodge,707,707,707,707,707,704,704,707,707,552
FIAT,42,42,42,42,42,42,42,42,42,28
Ferrari,14,14,14,14,14,14,14,14,14,12
Ford,2249,2249,2249,2249,2249,2225,2225,2249,2249,1922
GMC,442,442,442,442,442,440,440,442,442,357
Genesis,7,7,7,7,7,6,6,7,7,6
Honda,1602,1602,1602,1602,1602,1583,1583,1602,1602,1289
Hummer,9,9,9,9,9,9,9,9,9,7
Hyundai,1833,1833,1833,1833,1833,1755,1755,1833,1833,1532
Infiniti,257,257,257,257,257,255,255,257,257,172
Isuzu,2,2,2,2,2,2,2,2,2,2
Jaguar,122,122,122,122,122,111,111,122,122,91
Jeep,1127,1127,1127,1127,1127,1103,1103,1127,1127,958
Kia,725,725,725,725,725,723,723,725,725,639
Lamborghini,31,31,31,31,31,31,31,31,31,31
Land Rover,171,171,171,171,171,150,150,171,171,123
Lexus,518,518,518,518,518,515,515,518,518,273
Lincoln,171,171,171,171,171,169,169,171,171,112
MG,1,1,1,1,1,1,1,1,1,0
MINI,117,117,117,117,117,115,115,117,117,77
Maserati,45,45,45,45,45,41,41,45,45,31
Maybach,1,1,1,1,1,1,1,1,1,1
Mazda,396,396,396,396,396,390,390,396,396,315
McLaren,5,5,5,5,5,5,5,5,5,4
Mercedes-Benz,739,739,739,739,739,738,738,739,739,383
Mercury,40,40,40,40,40,40,40,40,40,34
Mitsubishi,109,109,109,109,109,99,99,109,109,80
Nissan,1342,1342,1342,1342,1342,1323,1323,1342,1342,1013
Oldsmobile,3,3,3,3,3,3,3,3,3,3
Pontiac,26,26,26,26,26,26,26,26,26,21
Porsche,132,132,132,132,132,132,132,132,132,84
Ram,318,318,318,318,318,308,308,318,318,277
Rolls-Royce,2,2,2,2,2,2,2,2,2,2
Saab,3,3,3,3,3,3,3,3,3,1
Saturn,22,22,22,22,22,21,21,22,22,20
Scion,66,66,66,66,66,65,65,66,66,51
Smart,13,13,13,13,13,13,13,13,13,9
Subaru,647,647,647,647,647,645,645,647,647,594
Suzuki,10,10,10,10,10,10,10,10,10,10
Tesla,2,2,2,2,2,2,2,2,2,1
Toyota,1663,1663,1663,1663,1663,1639,1639,1663,1663,1196
Triumph,1,1,1,1,1,1,1,1,1,0
Volkswagen,648,648,648,648,648,645,645,648,648,483
Volvo,124,124,124,124,124,122,122,124,124,66

Now to save the new .csv

In [62]:
df.to_csv("most_recent_version2.csv", index=False)